.oembedContainer {
  margin-bottom: 2rem;
}

.oembed {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  border-radius: 10px 10px 0 0;
  border: 3px solid rebeccapurple;
}

.seeOnTwitter {
  display: block;
  padding: 0.5rem;
  color: white;
  background-color: rebeccapurple;
  font-family: sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
